.card_container {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_lessons_subblock {
  display: flex;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 10px;
}

.card_lessons_subblock>div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Add relative positioning for pseudo-element */
  padding: 10px;
  /* Add padding to create separation between blocks */
}

.card_lessons_subblock>div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  /* Adjust the width as needed */
  background-color: black;
  /* Adjust the color as needed */
}

.card_lessons_subblock>div:first-child::before {
  display: none;
  /* Hide the first vertical line */
}

.card_name_block {
  width: 250px;
  height: 50px;
  text-align: center;
}

.card_number_block {
  width: 100px;
  height: 50px;
  /* border: 1px solid black; */
  text-align: center;
}

.group_name_block {
  padding-right: 30px;
  padding-left: 10px;
}

.card_lessons_upbblock {
  display: flex;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgb(207, 207, 207);
}

.card_lessons_upbblock>div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Add relative positioning for pseudo-element */
  padding: 10px;
  /* Add padding to create separation between blocks */

}

.card_lessons_upbblock>div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  /* Adjust the width as needed */
  background-color: black;
  /* Adjust the color as needed */
}

.card_lessons_upbblock>div:first-child::before {
  display: none;
  /* Hide the first vertical line */
}

.all_blocks_schedule{

}

@media (max-width: 600px) {
  .all_blocks_schedule{
margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .card_container {
    min-width: fit-content;
    width: 50rem;
  }
}