.folder_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button_delete {
  width: 150px;
  border: 1px solid black;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
  outline: none;
  height: 30px;
  transition: all 0.4s ease-in;
}

.button_delete_file {
  width: 100px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
  outline: none;
  height: 30px;
  transition: all 0.4s ease-in;
}

.button_delete_file:hover {
  background-color: rgb(255, 157, 157);
}

.button_upload {
  width: 100px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
  outline: none;
  height: 30px;
  transition: all 0.4s ease-in;
}

.button_upload:hover {
  background-color: rgb(145, 152, 255);
}

.button_delete:hover {
  background-color: rgb(255, 157, 157);
}

.button_delete_active {
  transition: all 0.4s ease-in;
  background-color: white;
  color: #233554;

  width: 100%;
  outline: none;
  height: 31px;
  font-weight: 700;
  border-radius: 5px;
  font-size: 15px;

  transition: all 0.5s ease;
}

.button_create {
  width: 150px;
  border: 1px solid black;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
  outline: none;
  height: 30px;
  transition: all 0.4s ease-in;
  /* transition: all 0.4s ease-in;
  background: rgb(111, 173, 255);
  color: rgb(255, 255, 255);
  width: 150px;
  outline: none;
  height: 30px;
  font-weight: 700;
  border-radius: 30px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px; */
}

.img_file {
  margin-left: 5px;
  /* margin-right: 5px; */
  margin-top: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.button_create:hover {
  background-color: rgb(155, 161, 255);
}

/* .folderBlock{
    background-color: aquamarine;
} */
.ffff {
  padding-left: 30px;

}

.folder_container {
  background-color: rgb(54, 52, 52);
  color: white;
  width: 200px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.file_block {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.file_block_components {
  max-width: 260px;
  word-wrap: break-word;
}


.selected {
  background-color: rgb(67, 58, 190);
  width: 200px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.folder_container:hover {
  background-color: rgb(67, 58, 190);
}

.folder_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.file_two_components {
  display: grid;
  grid-template-columns: auto auto;
  /* Update the grid-template-columns property */
  gap: 5px;
  justify-content: start;
  /* Align the grid items to the start */
}

.folder_block_component {
  padding-left: 10px;
}

.folder_create_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.createFolderBlock {
  padding-top: 20px;
  margin-bottom: 20px;
}

.create_folder_block_component {
  /* width: 400px; */
}

.Lexa {
  padding-right: 20px;
  padding-bottom: 20px;
}

.create_input {
  width: 100%;
  border: 2px solid #000000;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .folder_create_block {
    grid-template-columns: 1fr;
  }
}