.zach-detail2 {
    margin-bottom: 50px;
    background-color: aqua;
    padding: 20px;
}

.record_buttons {
    display: flex;
    justify-content: center;

}

.record_container {
    display: flex;
    flex-direction: column;
}

.heading {
    /* display: flex;
    justify-content: space-around;
    
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 5px; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

.record_student_block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 5px;
}

.rec {
    flex-shrink: 0;
}

.rec1 {
    flex-shrink: 0;
    text-align: center;
}

.recordbook_buttons_create {
    width: 90px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 5px;
    /* margin-top: 8px; */
    /* padding-bottom: 6px;
    padding-top: 6px; */
    transition: all 0.4s ease-in;
}
.recordbook_buttons_create:hover {
   background-color: rgb(128, 194, 255);
}
.recordbook_buttons_delete {
    width: 90px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 5px;
    /* margin-top: 8px; */
    /* padding-bottom: 6px;
    padding-top: 6px; */
    transition: all 0.4s ease-in;
}
.recordbook_buttons_delete:hover {
    background-color: rgb(255, 132, 123);
 }
.create_record_block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .create_record_block > * {
    justify-self: center;
  } */

.select_block {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
}

.record_subblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-left: 5rem;
    align-items: center;
}

.select_block_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.select_block_button_record{
    width: 300px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 8px; 
}
.select_block_button_record:hover{
    background-color: rgb(155, 161, 255);
}
.select_block_button_record_delete{
    width: 300px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 8px; 
}
.select_block_button_record_delete:hover{
    background-color: rgb(255, 157, 157);
}

.subblock_text {
    font-weight: bold;
    flex-basis: 50%;
}

.lock_input {
    flex-basis: 50%;
}

.short_user_info {
    display: flex;
    align-items: center;
    text-align: center;
}

.select_block_record {
    width: 300px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 6px;
}
.select_block_record_stud {
    width: 300px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 6px;
}

.record_mobile_block {
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 30rem; */
    border: 2px solid black;
    border-radius: 20px;
}

.two_group_selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
}

.update_record_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

@media (max-width: 600px) {
    .select_block_record_stud {
        width: 300px;
        border:1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-right: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
        padding-bottom: 6px;
        padding-top: 6px;
        padding-left: 6px;
    }
}

@media (max-width: 600px) {
    .record_container {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        margin-bottom: 30px;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        /* Scroll snap alignment at the start */
    }
}

.record_container::-webkit-scrollbar {
    width: 12px;
}

.record_container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.record_container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.record_container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    .short_user_info {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .heading {
        width: 50rem;
    }
}
@media (max-width: 600px) {
    .recordbook_buttons {
        margin-left: 1px;
    }
}
@media (max-width: 600px) {
    .two_group_selector {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 700px;
    }
}
@media (max-width: 600px) {
    .record_student_block {
        width: 50rem;
        padding-bottom: 20px;

    }
}