.center-content {
    max-height: 500px;
    overflow-y: auto;
    height: auto;
  }
  .input_block{
   max-width: 400px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .button_send{
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: rgb(190, 188, 255);
  }
  .stud_select{
    border: 2px solid #000000;
    border-radius: 5px;
    max-width: 500px;
    margin: 1rem;
    padding: 3px;
    background-color: rgb(255, 255, 255);
    
  }

  .stud_select:hover {
    background-color: rgb(162, 156, 255);
  }
  .stud_select.active {
    background-color: rgb(190, 137, 58);
  }
  .create_notifiaction_block{
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px;
    
  }
  .createNotifBlock{
    display: flex;
    flex-direction: column;
  }
  .select-container {
    width: 200px; /* Set a specific width for the select container */
    position: relative;
  }
  
  .custom-select {
    width: 100%;
    max-height: 200px; /* Set a maximum height to limit the dropdown size */
    overflow-y: auto; /* Enable vertical scrolling if necessary */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  
  /* Optional styling for the dropdown arrow */
  .custom-select:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }