.center-content {
  max-height: 500px;
  overflow-y: auto;
  height: auto;
}

.input_block {
  width: 100%;
  /* Adjust the width as needed */
  height: 100px;
  /* Adjust the height as needed */
  border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button_send {
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: rgb(190, 188, 255);
}

.stud_select {
  background-color: rgb(255, 255, 255);
}

.stud_select:hover {
  background-color: rgb(162, 156, 255);
}

.stud_select.active {
  background-color: rgb(109, 143, 253);
}

.create_notifiaction_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;

}

.createNotifBlock {
  display: flex;
  flex-direction: column;
}

.select-container {
  width: 600px;
  /* Set a specific width for the select container */
  position: relative;
  margin-bottom: 1rem;
}

.custom-select {
  width: 100%;
  max-height: 200px;
  /* Set a maximum height to limit the dropdown size */
  overflow-y: auto;
  /* Enable vertical scrolling if necessary */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.dropdown {
  width: 600px;
  max-height: 200px;
  /* overflow-y: auto; */
}

/* Optional styling for the dropdown arrow */
.custom-select:after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* .createNotifBlock_select{
    display: grid;
    grid-template-columns: 1fr;
  } */

.container_page_counter {
  display: flex;
  overflow-x: auto;
  max-width: 200px;
  /* Adjust the max-width as needed */
  margin-bottom: 10px;
  /* Adjust the margin as needed */
}
.container_page_counter_block{
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 25px;
}
.button_page {
  padding: 5px 10px;
  margin-right: 5px;
  /* Adjust the margin as needed */
  background-color: #eee;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.button_page:hover {
  background-color: #ddd;
}

.button_page.active {
  background-color: #5bbeff;
}

@media (max-width: 600px) {
  .create_notifiaction_block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px;

  }
}

@media (max-width: 600px) {
  .select-container {
    width: 300px;
    /* Set a specific width for the select container */
    position: relative;
  }
}

@media (max-width: 600px) {
  .dropdown {
    width: 300px;
    max-height: 200px;
    /* overflow-y: auto; */
  }
}

.subblock_mount-enter {
  opacity: 0;
}

.subblock_mount-enter-active {
  opacity: 1;
  transition: opacity 1.0s ease;
}