.file_container {
    border: 2px solid #000000;
    border-radius: 20px;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.title {
    /* padding-left: 30px;
    padding-top: 20px; */
    display: grid;
    place-items: center;
    flex-basis: 20%;
    font-size: x-large;
    padding-left: 1rem;
    padding-top: 1rem;
}

.two_blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns with equal width */
    grid-gap: 10px;
    /* Gap between the subblocks */
}

@media (max-width: 600px) {
    .two_blocks {
        grid-template-columns: 1fr;
        min-width: fit-content;
        /* width: max-content; */
        /* margin-right: 5rem; */
    }
}
@media (max-width: 600px) {
    .file_container {
        border: 2px solid #000000;
        border-radius: 20px;
        margin-top: 3rem;
        padding: 1rem;
    }
}