.shedule-table {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 100px;
  overflow: auto;
}


.shedule_card_container {
  display: flex;
  margin-top: 20px;
}

.date_container {
  padding: 30px;
  display: inline-block;
  position: relative;
}

.date_container input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 32px;
  padding: 0 16px;
  text-align: left;
  width: 100%;
}

.date_container input:focus {
  outline: none;
  border-color: #79baff;
}

.date_container button {
  background-color: #85b6ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.date_container button:hover {
  background-color: aquamarine;
}

.lexa {}

.date_block {
  border: 1px solid black;
  padding-bottom: 20px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.select_block{
  border: 1px solid black;
  border-radius: 20px;
}
.custom-ul {
  /* list-style-type: none;
  padding: 0; */
}

.custom-li {
  border: 2px solid black;
  border-radius: 0px 20px 20px 0px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  position: relative;
}




/* li.no_lessons_block {
 background-color: #79baff;
} */

.heading_shedule {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-weight: bold;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.rec_shedule {
  width: 25%;
}
.all_certain_schedule_block{
display: flex;
}
.group_number{
  flex-basis: 20%;
  border: 2px solid black;
  border-radius: 20px 00px 00px 20px;
  padding-left: 1rem;
  padding-top: 1rem;
}
.all_certain_schedule_subblock{
  flex-basis: 80%;
}

.no_lessons{
  font-weight: bold;
}



